/* interaction.html */

.animation-thumbnail {
    width: 340px;
    height: auto;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 60px;
}

.animation-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: auto;
}

.animation-caption {
    text-align: left;
    margin-top: 4px;
}

.animation-category {
    font-size: 12px;
    font-weight: 400;
    display: block;
}

.animation-title {
    font-size: 18px;
    font-weight: 400;
    display: block;
}

/* タブレットとモバイルデバイスのためのスタイル */
@media screen and (max-width: 1024px) {
    .animation-thumbnail {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
    .animation-container {
        grid-template-columns: repeat(2, 1fr);
        /* width: 100%; */
    }
    .content-area p[lang="en"] {
        font-size: 16px;
    }
}

/* モバイルデバイスのためのスタイル */
@media screen and (max-width: 768px) {
    .animation-thumbnail {
        width: 310px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
    .animation-container {
        grid-template-columns: 1fr;
        width: 100%;
    }
    .content-area p[lang="en"] {
        font-size: 16px;
    }
}


